@import url('https://fonts.googleapis.com/css2?family=Inglesa+Script:opsz,wght@6..72,400&display=swap');

.benefit-info {
  position: relative;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #51143E, #B72D8B);
  width: 100%;
  height: 61rem;
  overflow: hidden;
  z-index: 0;
}

.benefit-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/backgroundLogo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
}

.benefit-info > * {
  position: relative;
  z-index: 2;
}

  .digital-nest-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .digital-text,
  .nest-text, .benefit-text, .amount-text {
    background: linear-gradient(
      180deg,
      #CE9728 0%,
      #E5B543 20%,
      #FFFFFF 40%,
      #FCE674 50%,
      #EDC04D 70%,
      #EEB538 85%,
      #D19A29 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lato;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
  }

  .benefit-text{
    font-family: 'Inglesa Script', cursive;
   font-style: italic;
  }

  .nest-text{
    font-size: 3.3rem;
  }

  .golden-logo{
    width: 3.8rem;
    height: 3.8rem;
  }
  
  .stats{
    background: linear-gradient(to bottom, #51143E, #B72D8B);
  }

  .amount-raised{
    font-family: Futura PT;
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;
  }

  .amount-text{
    font-size: 2.5rem;
  }