.donation-section{
    background: radial-gradient(57.75% 134.12% at 49.94% 50.1%, #53436A 0%, #231F20 100%);
}
.donate-more-bttn {
    background: white; 
    position: relative;
    padding: 0.6em 2rem;
    border: 5px solid transparent;

    border-image: linear-gradient(180deg,
        #CE9728 0%,
        #E5B543 20%,
        #FFFFFF 40%,
        #FCE674 50%,
        #EDC04D 70%,
        #EEB538 85%,
        #D19A29 100%);
    border-image-slice: 1;
    border-radius: 1rem;

    font-family: "Lato";
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,
        #CE9728 0%,
        #E5B543 20%,
        #FFFFFF 40%,
        #FCE674 50%,
        #EDC04D 70%,
        #EEB538 85%,
        #D19A29 100%);
}

.donation-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.donation-text p{
    font-size: 3rem;
    line-height: 6rem;
}

.donation-text h2{
    margin-bottom: 10px;
}

.donation-highlight {
    font-weight: 700;
    font-size: 3rem;
    background: linear-gradient(
      180deg,
      #ce9728 0%,
      #e5b543 20%,
      #ffffff 40%,
      #fce674 50%,
      #edc04d 70%,
      #eeb538 85%,
      #d19a29 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .donation-highlight h2{
    font-style: italic;
  }

.donation-line-break:first-of-type{
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.donation-line-break:last-of-type{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
  .donation-line-break {
    display: flex;
    justify-content: center;
}

.donation-circle {
    color: #B72F8B;
    background-color: #B72F8B;
    width: 0.5em;
    height: 0.5em;
    border-radius: 6.25rem;

}

.donation-text-frame {
    text-align: center;
    color: #B72F8B;
    width: 80%;
    border-style: solid;
    border-color: #B72F8B;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
    outline: none;
}
.donation-text-frame legend {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: #B72F8B;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 48rem) {
    .circle {
      visibility: hidden;
    }
  }