.sponsors {
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #444;
  }
  
  .sponsor-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
    margin: 1rem 0;
  }
  
  .sponsor-grid.three-cols {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  /* .sponsors-scroll {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .scroll-inner {
    animation: scrollCredits 60s linear infinite;
  }
  
  @keyframes scrollCredits {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  } */
