* {
    background-color: rgba(225, 216, 216, 0.819);
}

.sponsors {
    padding: 2rem;
  }
    
  .sponsor-grid {
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    gap: 5rem;
    justify-items: center;
    align-items: center;
  }
  
  .sponsor-grid.one-cols {
    grid-template-columns: 1fr;
  }
  
  .sponsor-grid.two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor-grid.three-cols {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  /* .sponsors-scroll {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .scroll-inner {
    animation: scrollCredits 60s linear infinite;
  }
  
  @keyframes scrollCredits {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  } */
